*{
    margin:0;
    padding:0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("https://images.pexels.com/photos/7014506/pexels-photo-7014506.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
}
 .contact .content
 {
    max-width: 800px;
    text-align: center;
 }

 .contact .content.h2
 {
    font-size:36px;
    font-weight: 500;
    color: #fff;
 }

 .contact .content.p
 {
    
    font-weight: 300;
    color: #fff;
 }
 .container{
    width:100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .container .contactInfo
 {
    width:50%;
    display: flex;
    flex-direction:column;
 }
.conatiner .contactInfo .box
{
    position: relative;
    padding:20px 0;
    display: flex;
}
.container .contactInfo .box .text
{
    display:flex;
    margin-left:20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color:#00bcd4;
}
.contactForm
{
    width:40%;
    padding:40px;
    background:#fff;
}
.contactForm h2
{
    font-size:30px;
    color:#333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top:10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding:5px 0;
    font-size:16px;
    margin:10px;
    border:none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
/* .contactForm .inputBox span
 { 
    position: absolute;
    left:0;
    padding: 5px 0;
    font-size:16px;
    margin:10px 0;
    pointer-events: none;
   
    color:#666;
} */

